extends layout

block content
  - var balance = (address.received - address.sent) / 100000000
  - var sent = address.sent / 100000000
  - var received = address.received / 100000000
  - var rewards = club.rewards / 100000000
  .text-center
  .col-xs-12.col-md-10.col-md-offset-1
    .panel.panel-default.panel-address-summary
      .panel-heading.text-center        
        img.qrcode(src="/qr/"+address.a_id)
        br
        strong #{address.a_id}
        if settings.labels[address.a_id]
          br
          - var label_class="label-default"
          if settings.labels[address.a_id].type
            - var label_class = "label-"+settings.labels[address.a_id].type
          label(class="label "+label_class)
            =settings.labels[address.a_id].label
            if settings.labels[address.a_id].url
              a(href=settings.labels[address.a_id].url, target='_blank')
                span.fa.fa-question-circle(style='margin-left:5px;')
      table.table.table-bordered.table-striped.summary-table 
        thead
          tr
            if (settings.show_sent_received == true)
              th #{settings.locale.total_sent} (#{settings.symbol})
            if (address.a_id !== "coinbase")
              if (settings.show_sent_received == true)
                th #{settings.locale.total_received} (#{settings.symbol})
              th.text-center #{settings.locale.club_infos}
              th.text-center #{settings.locale.rl_balance}
        tbody             
          tr
            if (settings.show_sent_received == true)
              td.text-numeric #{sent.toFixed(8)}
            if (address.a_id !== "coinbase")
              if (settings.show_sent_received == true)
                td.text-numeric #{received.toFixed(8)}
              td
                if (club.clubminer == address.a_id)
                  |#{settings.locale.club_leader}
                else
                  |#{settings.locale.club_miner} 
                  a(href="/address/"+club.clubminer)
                    |#{club.clubminer}
                br
                |#{settings.locale.club_clubpower} #{club.clubpower}
                br
                |#{settings.locale.club_selfpower} #{club.selfpower}
                br
                |#{settings.locale.club_rewards} #{rewards.toFixed(8)} #{settings.symbol}
              td.text-nowrap.text-numeric #{balance.toFixed(8)} #{settings.symbol}
    
    .panel.panel-default
      .panel-heading
        strong #{settings.txcount} #{settings.locale.ex_latest_transactions}
      table.table.table-bordered.table-striped.history-table
        include includes/address_history

    .footer-padding
            