extends layout

block content
  - var time = format_unixtime(block.time)
  - var time2 = new Date(block.time).toTimeString();
  .col-xs-12.col-md-10.col-md-offset-1
    .well.well-sm.hidden-lg.hidden-md(style='word-wrap:break-word;')
      | #{block.hash}
    .panel.panel-default
      .panel-heading(style='padding-left:25px;padding-right:25px;')       
        .row           
          if block.previousblockhash != null
            a(href="/block/"+block.previousblockhash)
              span.fa.fa-chevron-left.iquidus.block-last(data-toggle='tooltip', data-placement='top', title=settings.locale.block_previous)
            strong.hidden-xs.hidden-sm #{settings.symbol} block: #{block.hash}
          else
            strong.hidden-xs(style='margin-left:10px;') #{settings.symbol} #{settings.locale.ex_block}: #{block.hash}
          if block.nextblockhash != null 
            a(href="/block/"+block.nextblockhash)
              span.fa.fa-chevron-right.iquidus.pull-right.block-next(data-toggle='tooltip', data-placement='top', title=settings.locale.block_next)       
          a(href="/api/getblock?hash="+block.hash)
            span.fa.fa-info-circle.iquidus.pull-right
      table.table.table-bordered.summary-table 
        thead
          tr
            th #{settings.locale.height}
            th #{settings.locale.confirmations}
            th.hidden-xs.hidden-sm #{settings.locale.size}
            th.hidden-xs.hidden-sm #{settings.locale.timestamp}
        tbody
          if block.confirmations >= confirmations                
            - var trclass = 'success'
          else
            if block.confirmations < (confirmations / 2)
             - var trclass = 'danger'
            else
             - var trclass = 'warning'
          - var block_size = block.size/1024
          tr(class="#{trclass}")
            td #{block.height}
            td #{block.confirmations}
            td.text-numeric.hidden-xs.hidden-sm #{block_size.toFixed(2)} KiB
            td.text-nowrap.hidden-xs.hidden-sm #{time}

    if block.hash == settings.genesis_block
      .alert.alert-info(role='alert', style='text-align:center;')   
        strong #{settings.locale.block_genesis}
    else
      .panel.panel-default
        .panel-heading
          strong #{settings.locale.ex_latest_transactions}
        table.table.table-bordered.table-striped.summary-table 
          thead
            tr
              th.hidden-xs.hidden-sm #{settings.locale.tx_hash}
              th #{settings.locale.tx_recipients}
              th #{settings.locale.amount} (#{settings.symbol})
              th
          tbody
            each txn in txs
              tr
                td.text-mono.hidden-xs
                  a(href="/tx/"+txn.txid) #{txn.txid}
                td #{txn.vout.length}
                if txn.vout.length > 0
                  - var total = txn.total / 100000000
                  td.text-numeric #{total.toFixed(8)}
                else
                  td.text-numeric #{txn.total.toFixed(8)}
                td.view_tx 
                  a(href="/tx/"+txn.txid)
                    span.fa.fa-eye 
    .footer-padding  
