extends layout

block content
  .col-md-12.col-xs-12
    .panel.panel-default
      .panel-heading
        strong #{settings.locale.api_title}
      .panel-body
        :markdown
          *#{settings.locale.api_message}*

          ------

          ### #{settings.locale.api_calls}
          *#{settings.locale.api_calls_message}*

          *  **getinfo**
             *#{settings.locale.api_getinfo}*
             [#{address}/api/getinfo](/api/getinfo)

          *  **getmininginfo**
             *#{settings.locale.api_getmininginfo}*
             [#{address}/api/getmininginfo](/api/getmininginfo)

          *  **getconnectioncount**
             *#{settings.locale.api_getconnectioncount}*
             [#{address}/api/getconnectioncount](/api/getconnectioncount)

          *  **getblockcount**
             *#{settings.locale.api_getblockcount}*
             [#{address}/api/getblockcount](/api/getblockcount)

          *  **getblockhash [index]**
             *#{settings.locale.api_getblockhash}*
             [#{address}/api/getblockhash?index=#{hashes.blockindex}](/api/getblockhash?index=#{hashes.blockindex})

          *  **getblock [hash]**
             *#{settings.locale.api_getblock}*
             [#{address}/api/getblock?hash=#{hashes.blockhash}](/api/getblock?hash=#{hashes.blockhash})

          *  **getrawtransaction [txid] [decrypt]**
             *#{settings.locale.api_getrawtransaction}*
             [#{address}/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=0](/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=0)
             [#{address}/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=1](/api/getrawtransaction?txid=#{hashes.txhash}&decrypt=1)

          *  **getpeerinfo**
             *#{settings.locale.api_getpeerinfo}*
             [#{address}/api/getpeerinfo](/api/getpeerinfo)

          *  **gettxoutsetinfo**
             *#{settings.locale.api_gettxoutsetinfo}*
             [#{address}/api/gettxoutsetinfo](/api/gettxoutsetinfo)

          *  **gettxcount**
             *#{settings.locale.api_gettxcount}*
             [#{address}/api/gettxcount](/api/gettxcount)

          ------

          ### #{settings.locale.extended_api}
          *Return data from local indexes*

          *  **getmoneysupply**
               *Returns current money supply*
               [#{address}/ext/getmoneysupply](/ext/getmoneysupply)

          *  **getdistribution**
               *Returns wealth distribution stats*
               [#{address}/ext/getdistribution](/ext/getdistribution)

          *  **getaddress (/ext/getaddress/hash)**
               *Returns information for given address*
               [#{address}/ext/getaddress/#{hashes.address}](/ext/getaddress/#{hashes.address})

          *  **getbalance (/ext/getbalance/hash)**
               *Returns current balance of given address*
               [#{address}/ext/getbalance/#{hashes.address}](/ext/getbalance/#{hashes.address})

          *  **getlasttxs (/ext/getlasttxs/count/min)**
               *Returns last [count] transactions greater than [min]*
               *Note: returned values are in satoshis*
               [#{address}/ext/getlasttxs/10/100](/ext/getlasttxs/10/100)

          ------

          ### #{settings.locale.linking_get}
          *Linking to the block explorer*

          *  **transaction (/tx/txid)**
             [#{address}/tx/#{hashes.txhash}](/tx/#{hashes.txhash})

          *  **block (/block/hash)**
             [#{address}/block/#{hashes.blockhash}](/block/#{hashes.blockhash})

          *  **address (/address/hash)**
             [#{address}/address/#{hashes.address}](/address/#{hashes.address})

          *  **qrcode (/qr/hash)**
             [#{address}/qr/#{hashes.address}](/qr/#{hashes.address})

    .footer-padding

