doctype html
html
  head
    title= settings.title
    link(rel='stylesheet', href='/themes/' + settings.theme + '/bootstrap.min.css')
    block css_header
    link(rel='stylesheet', href='//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.css')
    link(rel='stylesheet', href='//use.fontawesome.com/releases/v5.4.1/css/all.css', integrity='sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz', crossorigin='anonymous')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js')
    script(src='//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js')
    block js_header
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment.min.js')
    script(src='//cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js')  
    script(src='//cdn.datatables.net/responsive/1.0.1/js/dataTables.responsive.js')
    script(src='//cdn.datatables.net/plug-ins/725b2a2115b/integration/bootstrap/3/dataTables.bootstrap.js')
    // script(src='/javascripts/chart.js')
    script.
      $(document).ready(function(){
        $('##{active}').addClass('active');
        var tx_count=0;
        function update_stats(){   
          $.ajax({url: '/ext/summary', success: function(json){
            $("#supply").text(json.data[0].supply);
            tx_count=json.data[0].txcount;
            $("#lblTxcount").text(json.data[0].txcount + ' transactions');
            $("#Txcount").text(json.data[0].txcount + ' transactions');
            $("#lblBlockcount").text(json.data[0].blockcount + ' blocks');
            $("#lblConnections").text(json.data[0].connections + ' connections');
          }});
        }
        $('.block-last-next').tooltip({
          animation: true,
          delay: { hide: 500 },   
        });
        $('.history-table').dataTable( {        
          searching: false,
          ordering: true,
          responsive: true,
          order: [[ 0, "desc" ]],
        });
        $('.iquidus').css('color',$('.table').css('color'));
        $(window).resize(function () { 
          $($.fn.dataTable.tables( true ) ).DataTable().columns.adjust();
        });
        setInterval( function() {
          update_stats();
        }, 60000);
        update_stats();
      });
  body
    - function format_unixtime(unixtime) {
      - var a = new Date(unixtime*1000);  
      - var months = ['Jan','Feb','Mar','Apr','May','Jun','Jul','Aug','Sep','Oct','Nov','Dec'];
      - var year = a.getFullYear();
      - var month = months[a.getMonth()];
      - var date = a.getDate();
      - var hour = a.getHours();
      - var min = a.getMinutes();
      - var sec = a.getSeconds();
      - var suffix = 'th'
      if date == 1 || date == 21 || date == 31
        - suffix = 'st'
      if date == 2 || date == 22 || date == 32
        - suffix = 'nd'
      if date == 3 || date == 23
        - suffix = 'rd'
      if hour < 10
        - hour = '0' + hour
      if min < 10
        - min = '0' + min
      if sec < 10
        - sec = '0' + sec
      - var time = date + suffix + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec ;   
      - return time
    -  };
    .nav.navbar.navbar-default.navbar-fixed-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') #{settings.title}
        .collapse.navbar-collapse(id='navbar-collapse')
          ul.nav.navbar-nav
            li#home
              a.navbar-link(href='/') 
                span.fa.fa-search
                span.menu-text #{settings.locale.menu_explorer}
            if settings.display.movement == true
              li#movement 
                a.navbar-link.loading(href='/movement') 
                  span.fa.fa-money-bill-alt
                  span.menu-text #{settings.locale.menu_movement}
            if settings.display.network == true
              li#network
                a.navbar-link(href='/network')
                  span.fa.fa-share-alt
                  span.menu-text #{settings.locale.menu_network}
            if settings.display.richlist == true
              li#richlist
                a.navbar-link(href='/richlist')
                  span.fa.fa-chart-pie
                  span.menu-text #{settings.locale.menu_richlist}
            if settings.display.api == true
              li#info
                a.navbar-link(href='/info')
                  span.fa.fa-info-circle
                  span.menu-text #{settings.locale.menu_api}
    .row.text-center
      .col-md-12
        img(src=settings.logo, style='margin-top:-15px;height:128px;')
      .col-md-12(style='margin-top:10px;margin-bottom:20px;')
        form.form-inline(method='post', action='/search')      
          #index-search.form-group
            input.form-control(type='text', name='search', placeholder=settings.locale.ex_search_message, style='min-width:80%;margin-right:5px;')
            button.btn.btn-success(type='submit')=settings.locale.ex_search_button

    .row
      block content

    .navbar.navbar-inverse.navbar-fixed-bottom
      .hidden-xs.col-sm-6.col-md-5
        ul.nav.navbar-nav.snlinks
          if settings.snlinks.twitter
            li
              a#twitter-icon.snlink(href="https://twitter.com/" + settings.twitter, title='Twitter', target='_blank')
                span.fab.fa-twitter
          if settings.snlinks.facebook
            li
              a#facebook-icon.snlink(href="https://www.facebook.com/" + settings.facebook, title='Facebook', target='_blank')
                span.fab.fa-facebook-f
          if settings.snlinks.reddit
            li
              a#reddit-icon.snlink(href="https://reddit.com/r/" + settings.reddit, title='Reddit', target='_blank')
                span.fab.fa-reddit
          if settings.snlinks.discord
            li
              a#discord-icon.snlink(href="https://discord.gg/" + settings.discord, title='Discord', target='_blank')
                span.fab.fa-discord
          if settings.snlinks.telegram
            li
              a#telegram-icon.snlink(href="https://t.me/" + settings.telegram, title='Telegram', target='_blank')
                span.fab.fa-telegram-plane
          if settings.snlinks.medium
            li
              a#medium-icon.snlink(href="https://medium.com/" + settings.medium, title='Medium', target='_blank')
                span.fab.fa-medium-m
          if settings.snlinks.github
            li
              a#github-icon.snlink(href="https://github.com/" + settings.github, title='Github', target='_blank')
                span.fab.fa-github
          if settings.snlinks.youtube
            li
              a#youtube-icon.snlink(href="https://www.youtube.com/channel/" + settings.youtube, title='Youtube', target='_blank')
                span.fab.fa-youtube
          if settings.snlinks.bitcointalk
            li
              a#bitcointalk-icon.snlink(href="https://bitcointalk.org/index.php?topic=" + settings.bitcointalk, title='BitcoinTalk ANN', target='_blank')
                span.fab.fa-btc
          if settings.snlinks.website
            li
              a#website-icon.snlink(href="" + settings.website, target='_blank')
                span.fas.fa-globe
      .hidden-xs.hidden-sm.col-md-2
        div.text-center(style='margin-top: 5px;')
          a.navbar-link(style='font-size: 120%;', href="https://github.com/" + settings.github_explorer, target='_blank') Tau explorer
          br
          a.navbar-link(style='font-size: 80%;', href='https://github.com/iquidus/explorer', target='_blank') Based on Iquidus Explorer 
      .col-xs-12.col-sm-6.col-md-5
        div.connections.text-right
          span#lblTxcount.label.label-default -
          span#lblBlockcount.label.label-default -
          span#lblConnections.label.label-default -
