extends layout

block content
  script.
    $(document).ready(function(){
      var rtable = $('#alerts-table').dataTable( {  
        searching: false,
        processing: true,
        autoWidth: true,      
        responsive: true,
        ordering: true,
        order: [[ 0, "desc" ]],
        lengthChange: true,
        pageLength: #{settings.datatable.page_length},
        ajax: {
          url: '/ext/getlasttxs/#{min_amount}',
          dataSrc: function ( json ) {
            for ( var i=0;i<json.data.length; i++ ) {
              json.data[i]['timestamp'] = moment(json.data[i]['timestamp']*1000).format('Do MMM YYYY HH:mm:ss');
              json.data[i]['txid'] = "<a href='/tx/" + json.data[i]['txid'] + "'>" + json.data[i]['txid'] + "</a>"
              var amount = json.data[i]['total'] / 100000000;
              if (amount > '#{high_flag}') {
                flag = 'danger';
              } else if (amount > '#{low_flag}') {
                flag = 'warning';
              } else {
                flag = 'success';
              }
              json.data[i]['total'] = "<span class='" + flag + "'>" + amount + "</span>";
            }
            return json.data;
          }
        },
        columns: [
          { data: 'timestamp', class:'text-nowrap', width: '25%' },
          { data: 'txid', class:'text-mono', width: '60%' },
          { data: 'total', class:'text-numeric', width: '15%' }
        ]
      });
      setInterval( function () {
        rtable.api().ajax.reload(null, false);
      }, 45000 );
    });
  .col-xs-12.col-md-10.col-md-offset-1
     .panel.panel-default
      .panel-heading
        strong #{settings.locale.mv_latest_movements} #{min_amount}&nbsp;#{settings.symbol}
      table#alerts-table.table.table-bordered.table-striped
        thead
          tr
            th #{settings.locale.timestamp}
            th.hidden-xs.hidden-sm #{settings.locale.tx_hash}
            th.text-right.text-nowrap #{settings.locale.amount} (#{settings.symbol})
        tbody
